.anchor {
    -fx-background-image:url('../images/background.png');
}

.label {
    -fx-fill: white;
    -fx-background-color: black;
    -fx-opacity: 0.60;
}

.radio-button {
    -fx-fill: white;
    -fx-background-color: black;
    -fx-opacity: 0.60;
}