.anchor {
    -fx-background-image:url('../images/wp1.png');
}

.label {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-opacity: 0.65;
}

.radio-button {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-opacity: 0.65;
}